audioplayer==0.6
babel==2.17.0
colour==0.1.5
CTkColorPicker==0.9.0
CTkMenuBar==0.9
CTkMessagebox==2.7
customtkinter==5.2.2
darkdetect==0.8.0
packaging==25.0
pillow==12.0.0
platformdirs==4.5.1
psutil==7.2.1
PyMuPDF==1.26.7
pywin32==311
tkcalendar==1.6.1
tkdial==0.0.7
tkfontchooser==2.0.2
tksheet==7.5.19
tkTimePicker==2.0.2
tkVFD==1.1.0
toml==0.10.2
